{% extends './base.html' %}
{% block content %}
{% load static %}
	<script type="text/javascript">
		function showLoad() {
			//body = document.body
			div = document.getElementById('load')
			img = document.createElement("img");
			img.src = "https://soudocampo.com.br/iconesClima/44.gif";
			img.style.width = "30px"
			img.style.height = "30px"
			img.style.float = "center"
			div.appendChild(img)
			div.style.visibility = "visible"
		}
	</script>
	<style type="text/css">
		.arquivo {
			display: none;
		}
		.file {
			line-height: 30px;
			height: 30px;
			border: 1px solid #A7A7A7;
			padding: 5px;
			box-sizing: border-box;
			font-size: 15px;
			vertical-align: middle;
			width: 300px;
		}
		.btnd {
			border: none;
			box-sizing: border-box;
			padding: 2px 10px;
			background-color: #FF8C00;
			color: black;
			height: 32px;
			font-size: 15px;
			vertical-align: middle;
		}
	</style>
	<center>
		<div style="color: black">
			<div id="load" style="visibility: hidden;" align="center"><h4>Carregando...</h4></div>
			<h5></strong>Por favor selecione uma imagem analizada. Em seguida clique em calcular.</strong></h5>
			<img style="border: 3px solid black;" src="{% static 'img/snap.jpg' %}" class="img-fluid" width="600px" height="500px">
			<form enctype="multipart/form-data" method="POST">
				{% csrf_token %}
				<br>
				<!-- <input type="file" name="myFile" accept="image/*" required="true"/><br> -->
				<input type="file" name="myFile" class="arquivo" accept="image/*" required="true">
				<input type="text" name="file" id="file" class="file" placeholder="Arquivo" readonly="readonly">
				<input type="button" class="btnd" value="SELECIONAR"><br><br>
				<input type="submit" id="btn" name="" class="btn btn-primary custom-btn" disabled="" style="background-color:  #FF8C00; color: black;" value="Calcular imagem" onclick="showLoad();">
			</form>
			<br>
			<h3 style="color: red">ATENÇÃO!!</h3>
			<div align="left">
				<li>O site ainda está em fase inicial, alguns objetos podem ser mal identificados</li>
				<li>Utilize qualquer formato principal de imagem (jpg, png etc...)</li>
				<li>Pode ser que a qualidade da imagem interfira nos resultados</li>
			</div>
		</div>
	</center>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript">
		$('.btnd').on('click', function() {
			$('.arquivo').trigger('click');	
		});
		$('.arquivo').on('change', function() {
			var fileName = $(this)[0].files[0].name;
			$('#file').val(fileName);
			$('#btn').attr("disabled", false);
		});
	</script>
{% endblock %}